<app-loading *ngIf="!Musicas && !hasError"></app-loading>
<app-error *ngIf="!Musicas && hasError"></app-error>
<div *ngIf="Musicas && !hasError" class="content" fxLayout="row wrap" fxLayoutGap="16px grid">
  <div fxFlex="100%" fxFlex="100%" fxFlex="100%">
    <button class="botoes" mat-flat-button color="primary" (click)="openNewSongModal()">Adicionar música</button>
    <button class="botoes" mat-flat-button color="primary" (click)="openNewBandModal()">Adicionar banda</button>
  </div>
  
  <div fxFlex="33%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let musica of Musicas">
    <app-song-card [Musica]="musica"></app-song-card>
  </div>
</div>