<div *ngFor="let musica of Musicas">
    <mat-card class="example-card">
        <mat-card-header>
          <div mat-card-avatar class="example-header-image"></div>
          <mat-card-title>{{musica.nome}}</mat-card-title>
          <mat-card-subtitle>{{musica.banda.nome}}</mat-card-subtitle>
        </mat-card-header>
        <img mat-card-image [src]="musica.video" alt="Photo of {{musica.nome}}">
        <mat-card-content>
          <p>
            {{musica.letra}}
          </p>
        </mat-card-content>
        <!-- <mat-card-actions>
          <button mat-button>LIKE</button>
          <button mat-button>SHARE</button>
        </mat-card-actions> -->
      </mat-card>
</div>


