<mat-card class="mat-elevation-z4">
    <mat-card-header>
        <img mat-card-avatar class="band-image" [src]="Musica.banda.imagem">
      <mat-card-title>{{Musica.banda.nome}}</mat-card-title>
      <mat-card-subtitle>{{Musica.banda.genero}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [routerLink]="['/songs/detail', Musica.nome]" class="songPoster-image routerLinkSong"[src]="Musica.video" alt="Vídeo da música {{Musica.nome}}">
    <mat-card-content>
        <span [routerLink]="['/songs/detail', Musica.nome]" class="mat-h2 routerLinkSong">Música: {{Musica.nome}}</span>
      <p>
        {{Musica.letra}}
      </p>
    </mat-card-content>
    <!-- <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions> -->
  </mat-card>
