<h2 mat-dialog-title>Adicionar banda</h2>
<mat-horizontal-stepper linear="true" #stepper>
    <mat-step [stepControl]="bandFormGroup" editable="false">
        <ng-template matStepLabel>{{stepBandLabel}}</ng-template>
        <form *ngIf="!isNewBand" [formGroup]="bandFormGroup" class="form">
            <mat-form-field class="form-element">
                <mat-label>Selecione uma banda</mat-label>
                <mat-select formControlName="banda" required>
                    <mat-option *ngFor="let banda of bandas" [value]="banda">{{banda.nome}}</mat-option>
                </mat-select>
                <mat-hint class="select-band" (click)="newBand()">Não encontoru a banda desejada? Adicione uma agora!
                </mat-hint>
            </mat-form-field>
        </form>
        <form *ngIf="isNewBand" [formGroup]="bandFormGroup" class="form">
            <div class="form-element">
                <span class="select-band" (click)="selectBand()">Quero voltar e escolher uma banda</span>
            </div>
            <mat-form-field class="form-element">
                <mat-label>Nome</mat-label>
                <input matInput formControlName="nome" placeholder="Nome" required>
                <mat-error *ngIf="bandNameExists()">Já existe uma banda cadastrada com esse nome</mat-error>
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Imagem</mat-label>
                <input matInput formControlName="imagem" placeholder="Link da imagem">
            </mat-form-field>
            <mat-form-field class="form-element">
                <mat-label>Gênero</mat-label>
                <input matInput formControlName="genero" placeholder="Genero">
            </mat-form-field>
        </form>
        <div class="form-element">
            <button mat-raised-button class="button" color="primary" mat-button (click)="nextStep()" matStepperNext
                [disabled]="bandFormGroup.invalid">Próximo</button>
        </div>
    </mat-step>
</mat-horizontal-stepper>

<div class="form-element">
    <button mat-raised-button class="button" color="primary" [mat-dialog-close]="false">Fechar</button>
</div>