<h2 mat-dialog-title>Atualizar música: {{this.Song['nome']}}</h2>
<form [formGroup]="songFormGroup" class="form">
    <mat-form-field class="form-element">
        <mat-label>Vídeo</mat-label>
        <input matInput formControlName="video" placeholder="Video" required>
    </mat-form-field>
    <mat-form-field class="form-element">
        <mat-label>Álbum</mat-label>
        <input matInput formControlName="album" placeholder="album">
    </mat-form-field>
    <mat-form-field class="form-element">
        <mat-label>Data de lançamento</mat-label>
        <input matInput [matDatepicker]="picker" formControlName="anoMusica">
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <mat-form-field class="form-element">
        <mat-label>Letra</mat-label>
        <textarea matInput cdkTextareaAutosize #autosize="cdkTextareaAutosize" formControlName="letra" placeholder="letra"></textarea>
    </mat-form-field>
    <!-- Banda -->
    <mat-form-field class="form-element">
        <mat-label>Selecione uma banda</mat-label>
        <mat-select formControlName="banda" [compareWith]="compareBand" required>
            <mat-option *ngFor="let band of bands" [value]="band">{{band.nome}}</mat-option>
        </mat-select>
    </mat-form-field>
    <div class="form-element">
        <button class="button" color="primary" mat-button [disabled]="songFormGroup.invalid" 
        (click)="updateSong()">Atualizar música</button>
    </div>
    <div class="form-element">
        <button class="button" color="warn" mat-button (click)="closeDialog()">Fechar</button>
    </div>
</form>